abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: bolder;
}

code, kbd, pre, samp {
    font-family: $font-family-monospace;
    font-size: 1em;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

pre {
    overflow: auto;
}

small {
    font-size: 80%;
}
